<h1>Editing team retro</h1>

<%= render "form", team_retro: @team_retro %>

<br>

<div>
  <%= link_to "Show this team retro", @team_retro %> |
  <%= link_to "Back to team retros", team_retros_path %>
</div>
