<div id="<%= dom_id retrospective %>">
  <p>
    <strong>Date of retro:</strong>
    <%= retrospective.date_of_retro %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= retrospective.label %>
  </p>

</div>
