<h1>Editing retrospective</h1>

<%= render "form", retrospective: @retrospective %>

<br>

<div>
  <%= link_to "Show this retrospective", @retrospective %> |
  <%= link_to "Back to retrospectives", retrospectives_path %>
</div>
